<div class="w-75 mx-auto mt-5 p-2 d-flex flex-column align-items-center">
    <h1 class="mb-4">Resources</h1>
    <ul>
        <li class="mb-2"> 
            <a target="_blank" href="https://www.cnn.com/2022/03/18/tech/african-students-ukraine-social-media/index.html">'We come for our own': How Black volunteers rallied online to help African students in Ukraine</a> - CNN
        </li>
        <li class="mb-2"> 
            <a target="_blank" href="https://notesfrompoland.com/2022/03/10/non-ukrainian-refugees-in-poland-facing-exclusion-and-discrimination-warn-aid-groups/">Non-Ukrainian refugees in Poland face exclusion and discrimination, warn aid groups</a> - Notes from Poland
        </li>
        <li class="mb-2"> 
            <a target="_blank" href="https://www.washingtonpost.com/lifestyle/2022/03/25/isha-sesay-african-students-ukraine/?utm_medium=social&utm_campaign=wp_main&utm_source=twitter">African students in Ukraine have suffered. Their stories matter.</a> - The Washington Post
        </li>
        <li class="mb-2"> 
            <a target="_blank" href="https://www.axios.com/africans-in-ukraine-racism-81bf8ebd-2d03-4373-bdeb-b5de9db7ec91.html">#AfricansInUkraine: Escaping students describe rejection at border</a> - Axios
        </li>
        <li class="mb-2"> 
            <a target="_blank" href="https://www.bbc.com/news/world-africa-60603226">Ukraine: Why so many African and Indian students were in the country</a> - BBC News
        </li>
        <li class="mb-2"> 
            <a target="_blank" href="https://www.statista.com/statistics/1294331/number-of-international-students-ukraine-by-origin/">Total inbound internationally mobile students in Ukraine in 2020, by country of origin</a> - Statista
        </li>
    </ul>

</div>

