<div class="w-75 mx-auto mt-5 p-2 d-flex flex-column">
    <h1>Resources</h1>
    <ul>
        <li> 
            <a target="_blank" href="https://www.cnn.com/2022/03/18/tech/african-students-ukraine-social-media/index.html">'We come for our own': How Black volunteers rallied online to help African students in Ukraine</a> - CNN
        </li>
        <li> 
            <a target="_blank" href="https://www.cnn.com/2022/03/18/tech/african-students-ukraine-social-media/index.html">Non-Ukrainian refugees in Poland face exclusion and discrimination, warn aid groups</a> - Notes from Poland
        </li>
         
    </ul>

</div>

