<div class="w-75 mx-auto mt-5 p-2 d-flex flex-column">
    <p> In the midst of the ongoing humaniarian crisis in Ukraine, there have been reports of foreign students receiving racist treatment at the border, 
        with social media footage showing Ukrainian officials preventing some from crossing.
    </p>
    <p> <b>#AfricansinUkraine</b> is an Exploratory Data Analysis in which scrape tweets with the hashtags 
        <a target="_blank" href="https://twitter.com/hashtag/AfricansinUkraine">#AfricansinUkraine</a>, <a target="_blank" href="https://twitter.com/hashtag/AfricansinPoland">#AfricansinPoland</a>, and 
        <a target="_blank" href="https://twitter.com/hashtag/SaveSumyStudents">#SaveSumyStudents</a> to analyze the negative sentiment against non-white refugees fleeing the war in Ukraine. We are also looking into how this 
        correlates to the lack of diversity in refugees particularly non-white refugees being accepted into neighboring countries 
        that have agreed to accept refugees.
    </p>

</div>

