<div class="w-75 mx-auto mt-4 p-2 d-flex flex-column">
    <p> In the midst of the ongoing humaniarian crisis in Ukraine, over <a class="text-dark" target="_blank" href="https://www.statista.com/chart/26960/number-of-ukrainian-refugees-by-target-country/">2.5 million people</a> 
        have fled the country. However, many refugees have reported instances of racism and exclusion, flooding social media with accounts of foreign students and people of color
        being targeted with violence and prevented from exiting the country safely.
    </p>
    <p> <b>#AfricansinUkraine</b> is an Exploratory Data Analysis in which scrape tweets with the hashtags 
        <a target="_blank" href="https://twitter.com/hashtag/AfricansinUkraine">#AfricansinUkraine</a>, <a target="_blank" href="https://twitter.com/hashtag/AfricansinPoland">#AfricansinPoland</a>, and 
        <a target="_blank" href="https://twitter.com/hashtag/SaveSumyStudents">#SaveSumyStudents</a> to analyze the negative sentiment against non-white refugees fleeing the war in Ukraine. We are also looking into how this 
        correlates to the lack of diversity in refugees being accepted into neighboring countries that have previously agreed to accept refugees.
    </p>
</div>

