<hr>
<h1 class="text-center">Part 1: Categorical Demographic Data</h1>
<div class="w-75 mx-auto mt-5 p-2 d-flex flex-column"> 
    <p>
        Here are some graphs that display data on how many international students from different countries had come to Ukraine to further their studies. By 2019, there were 80,470 international students in Ukraine in total. The #1 country that has the most international students is India, who has a total of around 18,000 international students studying in Ukraine.
    </p>
</div>
<img src="../../assets/bar-graph.png" alt="Top countries that have international students in Ukraine.">


<div class="w-75 mx-auto mt-5 p-2 d-flex flex-column"> 
    <p>
        The graph below displays which countries the majority of African students originate from. The highest number of international students from Africa come from Morocco with a number of 8,232 students, followed by 4,345 students from Nigeria and 3,460 sudents from Egypt.
    </p>
</div>
<img src="../../assets/bar-graph (1).png" alt="Top countries in Africa that have international students in Ukraine.">


<div class="w-75 mx-auto mt-5 p-2 d-flex flex-column"> 
    <p>
        The graph below displays which countries the majority of Asian students originate from. The highest number of international students from Asia come from India, as we mentioned earlier, with a number of 18,000 students, followed by 5,311 students from Turkmenistan and 3,782 sudents from Turkey.
    </p>
</div>
<img src="../../assets/bar-graph (2).png" alt="Top countries in Asia that have international students in Ukraine.">

<br/><br/><br/>
<hr>