<h1 class="text-center">Part 2: Twitter Data</h1>
<div class="w-75 mx-auto mt-5 p-1 d-flex flex-column">
  <h3 class="text-center mb-4">Generated Wordcloud</h3>
  <p>
      Through the datascraping, a wordcloud has been generated to show frequent words that 
      people have used in their tweets.
  </p>
  <p>
    The most frequent words shown are <b>#africansinpoland</b>, <b>refugees</b>, and <b>#africansinukraine</b>.
    Another thing that is often noticed is the use of a lot of Indian words, showing the concern for fellow Indians in 
    Ukraine. Considering the fact that there was over 15,000 people in India studying in Ukraine,
    there is a considerable amount of concern for these students. This data can further help us to analyze sentiment, 
    recognize trends, and observe the global impact of this phenomenon. For instance, note the prescence of non-english words throughout the word cloud.
  </p>
  
  <img class="mb-3 mt-3" src="../../assets/wordcloud.png" alt="Wordcloud"/>
  <br/><br/>
  <p>
    Looking at the wordcloud above, a lot of the words are on the negative side, talking about 
    rebellion, displaced, racism, detained, discrimination, etc. There are some mentions of Nazi as well.
    Overall, this shows that the people of color students at Ukraine are facing hardships right now.
  </p>
  <img class="mb-3 mt-3" src="../../assets/wordcloud2.png" alt="2nd wordcloud"/>
</div>

<br/><br/><br/><br/>
<hr>
