<h1 class="text-center">Part 2: Twitter Data</h1>
<div class="w-75 mx-auto mt-5 p-1 d-flex flex-column">
  <h3 class="text-center mb-4">Generated Wordcloud</h3>
  <p>
      Through the datascraping, a wordcloud has been generated to show frequent words that 
      people have used in their tweets.
  </p>
  <p>
    The most frequent words shown are <b>#africansinpoland</b>, <b>refugees</b>, and <b>#africansinukraine</b>.
    This data can further help us to analyze sentiment, recognize trends, and observe the global impact of this phenomenon.
    For instance, note the prescence of non-english words throughout the word cloud.
  </p>
  <br/><br/>
  <img src="../../assets/wordcloud.png"/>
</div>

<br/><br/><br/><br/>
<hr>
