<div class="w-75 mx-auto mt-5 p-2 d-flex flex-column">
  <h3 class="text-center">Generated Wordcloud</h3>
  <p>
      Through the datascraping, a wordcloud has been generated to show frequent words that 
      people have said through their tweets.
  </p>
  <p>
    The most frequent words shown are <b>#africansinpoland</b>, <b>refugees</b>, and <b>#africansinukraine</b>.
    Another thing that is often noticed is the use of a lot of Indian words, showing the concern for fellow Indians in 
    Ukraine.
  </p>
  <img src="../../assets/wordcloud.png"/>
</div>

<br/><br/><br/><br/>
